{
  "extends": "../../babel.config.js",
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"^react-native$": "react-native-web"
				}
			}
		]
	]
}